/* General Styles */
.about-us {
  padding: 50px 20px;

  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-in-out;
  color: rgb(12, 159, 244);
}

.description {
  font-size: 1.2em;
  margin-bottom: 40px;
  line-height: 1.6;
  animation: fadeIn 2s ease-in-out;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 280px;
  max-width: 300px;
  transition: transform 0.3s;
  animation: fadeInUp 1.5s ease-in-out;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1em;
  line-height: 1.4;
}

.card:hover {
  transform: translateY(-10px);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}
