.back-to-top {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1000;
}

.back-to-top-button {
  height: 50px;
  width: 50px;
  color: #080808;
  border: none;
  background-color: darkorange;
  border: 2px solid red;
  cursor: pointer;
  text-align: center;

  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(100px);
  visibility: hidden;
}

.back-to-top-button:hover {
  background-color: #0056b3;
}

.back-to-top-button:active {
  background-color: #004085;
}

.back-to-top .back-to-top-button {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
