@import url("https://fonts.googleapis.com/css?family=Roboto");

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background: linear-gradient(45deg, #4199fe, #74b4fe); */

  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);

  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer p {
  margin: 0;
  color: #ddd;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 1.2em;
  padding: 0px 20px;
}

.social-icons a:hover {
  color: #ddd;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .social-icons {
    margin-top: 10px;
  }

  .social-icons a {
    padding: 0px 10px;
  }
}
